* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f6f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #fff;
  padding: 40px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #2f80ed;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1f6fe0;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 15px;
}

.options a {
  text-decoration: none;
  color: #2f80ed;
}

.signup {
  margin-top: 20px;
  font-size: 14px;
}

.signup a {
  color: #2f80ed;
  text-decoration: none;
}

#errorMsg {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
}

/* Overlay + Upload */

.role-toggle {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.role-toggle button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #ddd;
}

.role-toggle .active {
  background: #2f80ed;
  color: white;
}

/* Upload */
.upload-box {
  display: block;
  padding: 12px;
  border: 1px dashed #aaa;
  text-align: center;
  cursor: pointer;
  margin: 15px 0;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.hidden {
  display: none;
}

.invite-box {
  background: white;
  padding: 30px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}

.lock-icon {
  font-size: 40px;
  margin-bottom: 10px;
}
